@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:  0deg 0% 100% ;
    --foreground:  222.2deg 84% 4.9% ;
    --card:  0deg 0% 100% ;
    --card-foreground:  222.2deg 84% 4.9% ;
    --popover:  0, 0%, 100% ;
    --popover-foreground:  222.2deg 84% 4.9% ;
    --primary:  215 100% 38% ;
    --primary-foreground:  210deg 40% 98% ;
    --secondary:  210deg 40% 96.1% ;
    --secondary-foreground:  222.2deg 47.4% 11.2% ;
    --muted:  210deg 40% 96.1% ;
    --muted-foreground:  215.4deg 16.3% 46.9% ;
    --accent:  210deg 40% 96.1% ;
    --accent-foreground:  222.2deg 47.4% 11.2% ;
    --destructive:  0deg 84.2% 60.2% ;
    --destructive-foreground:  210deg 40% 98% ;
    --border:  214.3deg 31.8% 91.4% ;
    --input:  214.3deg 31.8% 91.4% ;
    --input-border:  215, 14%, 34% ;
    --ring:  215, 100%, 38% ;
    --radius: 0.5rem;

    --top-navbar-height: 60px;
  }

  .dark {
    --background:  221, 36%, 10% ;
    --foreground: 210, 40%, 98% ;
    --card:  215, 28%, 17% ;
    --card-foreground:  210deg 40% 98% ;
    --popover:  222.2deg 84% 4.9% ;
    --popover-foreground: 210, 40%, 98%, 0.888 ;
    --primary:  215 100% 38% ;
    --primary-foreground:  210deg 40% 98% ;
    --secondary:  217.2deg 32.6% 17.5% ;
    --secondary-foreground:  210deg 40% 98% ;
    --muted:  217.2deg 32.6% 17.5% ;
    --muted-foreground:  215deg 20.2% 65.1% ;
    --accent:  217.2deg 32.6% 17.5% ;
    --accent-foreground:  210deg 40% 98% ;
    --destructive:  0deg 41% 38% ;
    --destructive-foreground:  210deg 40% 98% ;
    --border:  217, 19%, 27% ;
    --input:  217, 19%, 27% ;
    --input-border:  215, 14%, 34% ;
    --ring:  215, 100%, 38% ;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
